parameters:
	ignoreErrors:
		-
			message: "#^Call to an undefined method Faker\\\\Generator\\:\\:secondaryAddress\\(\\)\\.$#"
			count: 1
			path: src/Factory/RoommateOfferFactory.php

		-
			message: "#^Call to an undefined method Faker\\\\Generator\\:\\:mobileNumber\\(\\)\\.$#"
			count: 1
			path: src/Factory/UserFactory.php

