parameters:
    level: 5
    paths:
        - bin/
        - config/
        - public/
        - src/
        - tests/

# fichier contenant les erreurs à ignorer
includes:
    - phpstan-baseline.neon
