header{
    background-color: #d81159;
    color: #8F2D56;
}

header a {
    color: white;
    text-decoration: none;
}

.welcome{
    background: #FFBC42;
}

footer{
    background-color: #8F2D56;
}

footer a {
    color: white;
    text-decoration: none;
}